/* My custom Css */
.content {
    margin-left: 0 !important; /* Set the left margin to zero */
}

#search-role {
    left: 0% !important;
}

/* end of custom css */

.errorMsg {
    border: 1px solid red;
}

.message {
    color: red;
    font-weight: bold;
}

h2 {
    position: relative;
    left: 35%;
    top: 20%;
    text-align: center !important; /* Ensure it's centered */
}

#error {
    text-align: center;
}

#div {
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}

#search-role {
    position: relative;
    left: 3%;
}

.cus_css{
    float:right;
}

/* edit modal */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.table.dataTable th.dt-type-numeric{
    text-align:left !important;
}
